<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangyh.FasLB.mapper.FasUserAccountMapper">

    <resultMap id="BaseResultMap" type="com.zhangyh.FasLB.model.FasUserAccount">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="expiredTime" column="expired_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectAllAccount" resultType="com.zhangyh.FasLB.model.FasUserAccount">
        select * from fas_user_account
        <where>
            deleted=0
            <if test="userQueryDto.username!=null">
                AND fas_user_account.username LIKE concat('%',#{userQueryDto.username}, '%')
            </if>
            <if test="userQueryDto.ip!=null">
                AND fas_user_account.ip LIKE concat('%',#{userQueryDto.ip}, '%')
            </if>
            <if test="userQueryDto.state!=null">
                AND `state` =#{userQueryDto.state}
            </if>
            <if test="userQueryDto.startTime!=null">
                AND create_time >=#{userQueryDto.startTime}
            </if>
            <if test="userQueryDto.endTime!=null">
                AND create_time &lt;= #{userQueryDto.endTime}
            </if>
        </where>
    </select>

    <sql id="Base_Column_List">
        id,username,password,
        avatar,ip,`state`,
        deleted,create_time,update_time,
        expired_time
    </sql>
</mapper>