<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.faslbadmin.admin.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zhang.faslbadmin.admin.model.po.FasUser">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

<!--    <sql id="Base_Column_List">-->
<!--        id,userAccount,username,-->
<!--        password,status,email,-->
<!--        phoneNumber,ipv4,ipv6,-->
<!--        sex,avatar,userType,-->
<!--        createTime,updateTime,isDelete-->
<!--    </sql>-->
</mapper>